## 운동(practice) 데이터 프레임 만들기

In [3]:
import pandas as pd

pratice = pd.DataFrame({
    '날짜':[],
    '운동':[],
    '운동량':[]
})
pratice

Empty DataFrame
Columns: [날짜, 운동, 운동량]
Index: []

In [3]:
# 데이터 추가, 변경 - loc[]
pratice.loc[0] = ['23-3-1','달리기',1]
pratice

       날짜   운동  운동량
0  23-3-1  달리기    1

In [4]:
pratice.loc[1] = ['23-3-2','걷기',1]
pratice.loc[2] = ['23-3-2','달리기',1]
pratice.loc[3] = ['23-3-2','계단오르기',1]
pratice

       날짜     운동  운동량
0  23-3-1    달리기    1
1  23-3-2     걷기    1
2  23-3-2    달리기    1
3  23-3-2  계단오르기    1

In [5]:
pratice.loc[4] = ['23-3-3','걷기',1.5]
pratice.loc[5] = ['23-3-3','달리기',1]
pratice

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0

In [6]:
pratice.loc[6] = ['23-3-4','걷기',1.5]
pratice.loc[7] = ['23-3-5','달리기',1]
pratice.loc[8] = ['23-3-6','달리기',2.5]
pratice.loc[9] = ['23-3-6','달리기',0.5]
pratice

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0
6  23-3-4     걷기  1.5
7  23-3-5    달리기  1.0
8  23-3-6    달리기  2.5
9  23-3-6    달리기  0.5

In [12]:
pratice.pivot_table(index = '운동',values='운동량') # 평균

            운동량
운동
걷기     1.333333
계단오르기  1.000000
달리기    1.166667

In [13]:
pratice.pivot_table(index = '운동',values='운동량', aggfunc='sum') # 합계

       운동량
운동
걷기     4.0
계단오르기  1.0
달리기    7.0

In [10]:
# to_csv() 파일 만들기
pratice.to_csv('./datas/practice.csv')

In [16]:
pratice = pratice.set_index('날짜')

In [17]:
pratice

           운동  운동량
날짜
23-3-1    달리기  1.0
23-3-2     걷기  1.0
23-3-2    달리기  1.0
23-3-2  계단오르기  1.0
23-3-3     걷기  1.5
23-3-3    달리기  1.0
23-3-4     걷기  1.5
23-3-5    달리기  1.0
23-3-6    달리기  2.5
23-3-6    달리기  0.5

In [18]:
pratice.to_csv('./datas/practice.csv')

### 외부파일 읽어오기
#### pandas 모듈 사용 -  - pd.read_csv()

In [4]:
# 외부 파일 읽어보기 - pd.read_csv()
exercise = pd.read_csv('./datas/practice.csv', index_col=0)

In [6]:
exercise

           운동  운동량
날짜
23-3-1    달리기  1.0
23-3-2     걷기  1.0
23-3-2    달리기  1.0
23-3-2  계단오르기  1.0
23-3-3     걷기  1.5
23-3-3    달리기  1.0
23-3-4     걷기  1.5
23-3-5    달리기  1.0
23-3-6    달리기  2.5
23-3-6    달리기  0.5

In [8]:
exercise = pd.read_csv('./datas/practice.csv')

In [9]:
exercise

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0
6  23-3-4     걷기  1.5
7  23-3-5    달리기  1.0
8  23-3-6    달리기  2.5
9  23-3-6    달리기  0.5

## 깊은 복사와 얕은 복사

In [12]:
# 얕은 복사
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [13]:
# a리스트를 b에 복사
b = a
b

[1, 2, 3, 4]

In [14]:
# 1번 인덱스를 10으로 변경
b[1] = 10
b

[1, 10, 3, 4]

In [15]:
# a list 출력
a

[1, 10, 3, 4]

### 깊은 복사
#### 원본을 복사한 후 사본만 변경해도 원본은 변경되지 않음

In [16]:
c = [1,2,3,4]
c

[1, 2, 3, 4]

In [17]:
# copy()함수를 사용하여 깊은 복사
d=c.copy()
d

[1, 2, 3, 4]

In [18]:
d[1] = 10
d

[1, 10, 3, 4]

In [19]:
c

[1, 2, 3, 4]